<% @answers.each do |answer| %>
  <details>
    <summary><%= answer.value %></summary>
    <%= render "answers/answers", answers: answer.feedback.answers.where.not(header: "was_answer_useful") %>
    <p><%= link_to "View conversation", answers_show_path(id: answer.id) %> [<%= answer.feedback.uuid %>]</p>
  </details>
<% end %>
